networks:
  expense: {}
volumes:
  mysql:
services:
  mysql:
    image: shahabsb/expense-mysql:1.0.0
    networks:
      - expense
    container_name: mysql
    volumes:
      - mysql:/var/lib/mysql

  backend:
    image: shahabsb/expense-backend:1.0.0
    command: sh -c "sleep 5 && node /opt/backend/index.js"
    networks:
      - expense
    container_name: backend
    depends_on:
      - mysql

  frontend:
    image: shahabsb/expense-frontend:1.0.0
    networks:
      - expense
    container_name: frontend
    depends_on:
      - backend
    ports:
      - 80:80
